<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- <link type="text/css" rel="stylesheet" href="public/css/materialize.min.css" media="screen,projection" /> -->
    <link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <link href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="public/css/content.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!--side menu-->
    <ul id="slide-out" class="sidenav grey darken-3">
        <li>
            <div class="user-view deep-purple darken-1 ">

                <img class="circle responsive-img center" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAuXAAAAJGM3ZTFhZjI2LWY4ZmYtNGYzYi04YTg3LWE4MDhiNjQ1MDllYg.jpg" alt="">
                <span class="white-text name ">Thiago N F Silva</span>
                <span class="white-text email">thiago.nsjob@gmail.com</span>
            </div>
        </li>

        <br>
        <li><a href="#aboutBlock" class="brand-logo hoverable"><i class="material-icons">assignment_ind</i>About</a></li>
        <br>
        <li><a href="#portifolioBlock" class="brand-logo hoverable"><i class="material-icons">code</i>Portifolio</a></li>
        <br>
        <li><a href="#skillsBlock" class="brand-logo hoverable "><i class="material-icons">equalizer</i>Skills</a></li>
        <br>
        <li><a href="#workingHistoriyBlock" class="brand-logo  hoverable"><i class="material-icons">folder_shared</i>History</a></li>
    </ul>
    <div class="sidenavButton sidenav-trigger " data-target="slide-out">
        <a href="#" class="btn-floating btn-large waves-effect waves-light cyan"><i class="material-icons">menu</i></a>
    </div>
    <!--side menu-->

    <!--header-->
    <header id="headerBlock" class="headerBlock">
        <div class="center-align">
            <br> <br><br>
            <span class="title name">Thiago Silva</span>
            <br><br>
            <br><br>
            <span class="title subtitle">_full-Stack developer</span>
        </div>
    </header>
    <!--header-->


    <div id="aboutBlock" class="block grey lighten-2 alignt-center">
        <!--  <nav class="navbar-fixed" data-target="aboutBlock">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo left">about me</a>
                <i class="material-icons large">assignment_ind</i>
            </div>
        </nav> -->
        <img class="aboutbanner align-center" src="public/img/about.svg" alt="placeholder" title="hover" />

        <div class="flex intro">
            <div class="flexdiv  ">
                <img class="pull-left left img-rounded" src="" alt="placeholder" title="hover" />

            </div>

            <div class="flexdiv flow-text">
                <h4>Hey there! <br> I'm Thiago Silva, a professional full-stack developer.</h4>
                <article class="aboutMe ">
                    <br>
                    <p>Born and raised in São Paulo Brasil, I've worked with software development for more than 10 years now. </p>
                    <br>

                </article>
            </div>
        </div>

        <div class="flex lime lighten-3">

            <div class="flexdiv top ">

                <article class="aboutMe">
                    <img src="public/img/brain.svg" alt="placeholder" />
                    <span><h5>Thinking in</h5></span>
                    <br>
                    <ul class="left-align">
                        <li class="">
                            <h6><i class="material-icons">chevron_right</i>reactive programing</h6>
                        </li>
                        <li class="">
                            <h6><i class="material-icons">chevron_right</i>javascript</h6>
                        </li>
                        <li class="">
                            <h6><i class="material-icons">chevron_right</i>distributed systems</h6>
                        </li>
                        <li class="">
                            <h6><i class="material-icons">chevron_right</i>beautiful UI</h6>
                        </li>
                    </ul>

                </article>
            </div>
            <div class="divider align-center"></div>
            <div class="flexdiv top">
                <article class="aboutMe">
                    <img src="public/img/happy.png" alt="placeholder" />
                    <span><h5>Passionate for</h5></span>
                    <br>
                    <ul class="left-align">
                        <li class="">
                            <h6><i class="material-icons">chevron_right</i>coffee</h6>
                        </li>
                        <li class="">
                            <h6><i class="material-icons">chevron_right</i>dogs</h6>
                        </li>
                        <li class="">
                            <h6><i class="material-icons">chevron_right</i>gaming</h6>
                        </li>
                        <li class="">
                            <h6><i class="material-icons">chevron_right</i>veggy food</h6>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="divider align-center"></div>
            <!--<div class="flexdiv top">
                <article class="well">
                    <h1>head2</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, animi, ducimus, officiis, quisquam ea deleniti aliquid porro natus nisi nobis quibusdam aliquam totam? Enim, eaque, quod veritatis quaerat iusto dicta doloribus deserunt
                        nulla debitis tempore ut voluptatem dolores quas. Obcaecati ipsa repudiandae accusantium natus fuga dolore laboriosam iste. Esse, accusamus!</p>
                </article>
            </div> -->

        </div>
    </div>
    <div id="workingHistoriyBlock" class="block grey lighten-4">
        <!-- <nav class="navbar-fixed" data-target="workingHistoriyBlock" style="top: 0px;">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo left">work history</a>
                    <i class="material-icons ">folder_shared</i>
                </div>
            </nav> -->
        <div class="center-align flow-text">
            <script src="//my.visme.co/visme.js"></script>
            <div class="visme_d" data-url="31gq6ex1-untitled-project" data-w="1200" data-h="1950" data-domain="my"></div>

            <!--  <img class="responsive-img" src="public/img/history.jpg" alt=""> -->
        </div>
    </div>
    <div id="skillsBlock" class="block grey lighten-2">
        <!--  <nav class="navbar-fixed" data-target="skillsBlock" style="top: 0px;">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo left">skills</a>
                <i class="material-icons">equalizer</i>
            </div>
            <div id="chart" style="width:200px;height:100px;position:absolute"></div>

        </nav> -->
        <div class="center-align flow-text">
            <script src="//my.visme.co/visme.js"></script>
            <div class="visme_d" data-url="76opovqy-skills" data-w="1600" data-h="2300" data-domain="my"></div>
        </div>
    </div>
    </div>
    <div id="portifolioBlock" class="block grey lighten-4">
        <!--  <nav class="navbar-fixed" data-target="portifolioBlock">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo left">portifolio</a>
                <i class="material-icons">code</i>
            </div>
        </nav> -->
        <div class="center-align flow-text">
            <script src="//my.visme.co/visme.js"></script>
            <div class="visme_d" data-url="x4yj88rw-portifolio" data-w="1600" data-h="330" data-domain="my"></div>
            <p style="font-family: Arial; font-size: 10px; color: #333333">
                <!--    <img class="responsive-img" src="public/img/Portifolio.jpg" alt=""> -->
        </div>
        <div class="portifolio center-align">
            <div class="cardBlock center-align">
                <div class="card ">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src=" https://cdn.scotch.io/10/gQtdUwRGQKOpbWRunyRg_How_to_Make_Your_Existing_React_App_Progressive_in_10_Minutes.png.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src=" https://cdn.scotch.io/1/d0YqyIA0Saq85mFLlS2w_whats-new-in-express-5.png.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src=" https://cdn.scotch.io/38945/0Mw9TvrT3mgawkLkAyhQ_Vue.Js%20and%20React.Js-A%20Quick%20Comparison.png.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer">
        <div class="container ">
            <div class="row ">
                <h4 class="white-text footer-text">you can find me here</h4>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col s3 m2 1">
                        <a href="https://www.linkedin.com/in/thiagonfs-profile"> <img class=" responsive-img contactIcon bBorder" src="public/img/linkedin.png" alt="LinkedIn">
                        </a>
                    </div>
                    <div class="col s3 m2 1">
                        <a href="https://www.facebook.com/thiago.nascimento.79656"><img class=" responsive-img contactIcon" src="public/img/facebook-logo.svg" alt="Facebook">
                        </a>
                    </div>
                    <div class="col s3 m2 1">
                        <a href="https://github.com/thiago-nsjob"><img class=" responsive-img  contactIcon" src="public/img/git.png" alt="git">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="footer-copyright">
            <span class="condensed light">coded with love </span>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>

    <!--   <script type="text/javascript" src="public/js/materialize.min.js"></script> -->
    <script type="text/javascript" src="public/js/trianglify.min.js"></script>

    <!--  <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.2.0/trianglify.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="public/js/formatter.js"></script>



    <script>
        $(window).on("swipe", function() {
            $(".sidenavButton").click();
            console.log("swiped!");
        })


        $(document).ready(function() {


            $('.sidenav').sidenav({
                edge: 'left', // Choose the horizontal origin
                closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: true, // Choose whether you can drag to open on touch screens,);
            })


            // Select all links with hashes
            $('a[href*="#"]')
                // Remove links that don't actually link to anything
                .not('[href="#"]')
                .not('[href="#0"]')
                .click(function(event) {
                    // On-page links
                    if (
                        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
                        location.hostname == this.hostname
                    ) {
                        // Figure out element to scroll to
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        // Does a scroll target exist?
                        if (target.length) {
                            // Only prevent default if animation is actually gonna happen
                            event.preventDefault();
                            $('html, body').animate({
                                scrollTop: target.offset().top
                            }, 1000, function() {
                                // Callback after animation
                                // Must change focus!
                                var $target = $(target);
                                $target.focus();
                                if ($target.is(":focus")) { // Checking if the target was focused
                                    return false;
                                } else {
                                    $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                    $target.focus(); // Set focus again
                                };
                            });
                        }
                    }
                });
        });
    </script>

</body>

</html>