   @font-face {
       font-family: blackjack;
       src: url("fonts/blackjack.otf");
   }
   
   @font-face {
       font-family: Caviar;
       src: url("fonts/CaviarDreams.ttf");
   }
   
   @media screen and (min-width: 280px) {
       .title {
           font-size: 30pt;
           color: white;
           font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
       }
       .sPadding {
           padding-top: 2%;
       }
       .contactIcon {
           max-width: 100% !important;
           max-height: 100% !important;
       }
       .footer-copyright {
           width: 100% !important;
           height: 2% !important;
       }
       .footer-copyright span {
           padding-left: 1%;
       }
       .card {
           max-width: 80%!important;
       }
       i {
           font-size: 25pt !important;
       }
       .brand-logo {
           font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           padding-left: 10% !important;
       }
       .sidenavButton {
           display: none;
       }
       .footer-copyright {
           font-size: 20pt;
       }
       header {
           height: 60em;
       }
       .greetings {
           font-size: 40pt;
       }
       .name {
           font-size: 50pt;
       }
   }
   
   @media screen and (min-width: 480px) {
       .title {
           font-size: 30pt;
       }
       .contactIcon {
           max-width: 80% !important;
       }
       footer .container {
           margin: 0% !important;
           width: 100% !important;
           padding-left: 1.5% !important;
       }
       .footer-copyright {
           width: 100%;
       }
       .footer-copyright span {
           padding-left: 1%;
       }
       .card {
           max-width: 60%!important;
       }
       i {
           font-size: 30pt !important;
       }
       .brand-logo {
           padding-left: 8% !important;
       }
       .sidenavButton {
           display: inherit;
       }
       .footer-copyright {
           font-size: 18pt;
       }
       header {
           height: 60em;
       }
       .greetings {
           font-size: 40pt;
       }
       .name {
           font-size: 50pt;
       }
   }
   
   @media screen and (min-width: 800px) {
       .title {
           font-size: 35pt;
       }
       .sPadding {
           padding-top: 1%;
       }
       .contactIcon {
           max-width: 50% !important;
       }
       footer .container {
           margin: 0% !important;
           width: 100% !important;
           padding-left: 1.5% !important;
       }
       .footer-copyright {
           width: 100%;
       }
       .footer-copyright span {
           padding-left: 1%;
       }
       .card {
           max-width: 40%!important;
       }
       i {
           font-size: 35pt !important;
       }
       .brand-logo {
           padding-left: 7% !important;
       }
       .sidenavButton {
           display: inherit;
       }
       .footer-copyright {
           font-size: 18pt;
       }
       header {
           height: 60em;
       }
       .greetings {
           font-size: 60pt;
       }
       .name {
           font-size: 70pt;
       }
   }
   
   @media screen and (min-width: 1200px) {
       .title {
           font-size: 40pt;
       }
       .sPadding {
           padding-top: 1%;
       }
       .contactIcon {
           max-width: 40% !important;
       }
       footer .container {
           margin: 0% !important;
           width: 100% !important;
           padding-left: 1.5% !important;
       }
       .footer-copyright {
           width: 100%;
       }
       .footer-copyright span {
           padding-left: 1%;
       }
       .card {
           max-width: 35%!important;
       }
       i {
           font-size: 35pt !important;
       }
       .brand-logo {
           padding-left: 4% !important;
       }
       .sidenavButton {
           display: inherit;
       }
       .footer-copyright {
           font-size: 20pt;
       }
       header {
           height: 60em;
       }
       .greetings {
           font-size: 70pt;
       }
       .name {
           font-size: 80pt;
       }
   }
   
   .user-view img {
       max-height: 20em !important;
   }
   
   .brand-logo,
   .footer-text,
   .name {
       font-family: Caviar;
   }
   
   .block {
       height: 100% !important;
       color: black !important;
   }
   
   .navbar-fixed {
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb5fa2+0,6c00f9+0,fcfcfc+100 */
       background: #cb5fa2 !important;
       /* Old browsers */
       background: -moz-linear-gradient(-45deg, #cb5fa2 0%, #6c00f9 0%, #fcfcfc 100%)!important;
       /* FF3.6-15 */
       background: -webkit-linear-gradient(-45deg, #cb5fa2 0%, #6c00f9 0%, #fcfcfc 100%) !important;
       /* Chrome10-25,Safari5.1-6 */
       background: linear-gradient(135deg, #cb5fa2 0%, #6c00f9 0%, #fcfcfc 100%)!important;
       /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
       filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cb5fa2', endColorstr='#fcfcfc', GradientType=1) !important;
       /* IE6-9 fallback on horizontal gradient */
   }
   
   .headerBlock {
       padding-top: 10%;
   }
   
   .title {
       color: white;
   }
   
   .greetings {
       font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
   }
   
   .cardBlock {
       display: flex;
       justify-content: left;
       flex-wrap: wrap;
   }
   
   .card {
       flex: 1 1 auto;
       margin-left: 5%;
       margin-top: 2%;
       margin-right: 2%;
   }
   
   .sidenavButton {
       position: fixed !important;
       top: 10% !important;
       left: -2% !important;
       -webkit-transition: 2s !important;
       /* Safari */
       transition: 2s!important;
   }
   
   .sidenavButton:hover {
       left: 0.5%!important;
       -webkit-transition: 1s !important;
       /* Safari */
       transition: 1s!important;
       /* to be below the parent element */
   }
   
   a,
   i {
       color: white !important;
   }
   
   ul.sidenav {
       max-width: 40% !important;
   }
   
   ul.sidenav a {
       font-size: 1em;
   }
   
   .footer-copyright {
       font-family: blackjack;
   }
   
   .user-view img {
       width: 10em !important;
       height: 10em !important;
   }