   @media screen and (min-width: 280px) {
       .title {
           font-size: 30pt;
           color: white;
           font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
       }
       .sPadding {
           padding-top: 2%;
       }
       .contactIcon {
           max-width: 100% !important;
           max-height: 100% !important;
       }
       .footer-copyright {
           width: 100% !important;
           height: 2% !important;
       }
       .footer-copyright span {
           padding-left: 1%;
       }
   }
   
   @media screen and (min-width: 480px) {
       .title {
           font-size: 30pt;
           color: white;
       }
       .contactIcon {
           max-width: 80% !important;
       }
       footer .container {
           margin: 0% !important;
           width: 100% !important;
           padding-left: 1.5% !important;
       }
       .footer-copyright {
           width: 100%;
       }
       .footer-copyright span {
           padding-left: 1%;
       }
   }
   
   @media screen and (min-width: 800px) {
       .title {
           font-size: 35pt;
           color: white;
       }
       .sPadding {
           padding-top: 1%;
       }
       .contactIcon {
           max-width: 50% !important;
       }
       footer .container {
           margin: 0% !important;
           width: 100% !important;
           padding-left: 1.5% !important;
       }
       .footer-copyright {
           width: 100%;
       }
       .footer-copyright span {
           padding-left: 1%;
       }
   }
   
   @media screen and (min-width: 1200px) {
       .title {
           font-size: 40pt;
       }
       .sPadding {
           padding-top: 1%;
       }
       .contactIcon {
           max-width: 40% !important;
       }
       footer .container {
           margin: 0% !important;
           width: 100% !important;
           padding-left: 1.5% !important;
       }
       .footer-copyright {
           width: 100%;
       }
       .footer-copyright span {
           padding-left: 1%;
       }
   }
   
   .block {
       height: 100% !important;
       z-index: 0 !important;
   }
   
   .headerBlock .nav-extended {
       background-color: transparent !important;
   }
   
   .card {
       z-index: -1 !important;
   }
   
   .brand-logo {
       font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       padding-left: 5% !important;
   }