@font-face {
    font-family: blackjack;
    src: url("fonts/blackjack.otf");
}

@font-face {
    font-family: Caviar;
    src: url("fonts/CaviarDreams.ttf");
}

@font-face {
    font-family: above;
    src: url("fonts/ABOVE.ttf");
}

@font-face {
    font-family: trench;
    src: url("fonts/trench100free.otf");
}